/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Cardo", serif;
}

h1 {
  font-size: 2.7rem;
}

li,
button,
label,
input,
p {
  font-size: 1.6rem;
}

h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
  font-weight: normal;
}
h4,
h5 {
  font-size: 2rem;
}

a {
  color: black;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  /* text-transform: uppercase; */
}

/* Variables */

:root {
  --spacecadet: #22223b;
  --independence: #4a4e69;
  --heliotrope_gray: #9a8c98;
  --silver_pink: #c9ada7;
  --isabelline: #f2e9e4;
  --spanblue: #0077b6;
}

/* Nav */

#burger {
  display: none;
}

.main-header {
  background: var(--spacecadet);
  color: white;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 3;
  min-height: 100vh;
}

nav {
  min-height: 100vh;
  min-width: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 10rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin: 2.5rem;
}
nav ul li {
  list-style: none;
}
hr {
  width: 100%;
  color: var(--isabelline);
}

nav ul a {
  color: var(--isabelline);
  font-size: 1.8rem;
}
nav h1 {
  padding: 2rem;
  color: var(--isabelline);
}
.logo-blue {
  color: var(--heliotrope_gray);
}

/*  Main */

#main-doc {
  margin: 1% auto 1% 15%;
}

.main-section {
  display: flex;
  min-width: 85vw;
  min-height: 100vh;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.main-section h2 {
  text-align: center;
  color: var(--spacecadet);
}
.main-section ul {
  margin: 2rem;
}
.wrapper {
  display: flex;
  flex-direction: column;
  margin: 2rem 8rem;
}
.intro {
  margin: 2rem 0;
}
.wrapper ul li {
  line-height: 3.5rem;
}
/* .wrapper ul {
  margin: 4rem 0;
} */
.wrapper h3,
.wrapper h4 {
  margin: 2rem;
  color: var(--independence);
}

.code-wrap {
  background: rgba(34, 34, 59, 0.9);
  border-radius: 1rem;
  color: white;
  font-size: 1.6rem;
  padding: 2rem;
}
.code-wrap p {
  margin: 0.5rem;
  font-size: 1.4rem;
}
.sub {
  margin: 2rem;
}
.code2 {
  margin: 2rem;
}
.img-wrapper {
  margin: 4rem;
}
.img-wrapper img {
  width: 50%;
}

#HTML_Editors,
#HTML_Basic_Examples,
#HTML_Elements {
  margin-top: 5rem;
}
.span-1 {
  color: var(--spanblue);
  font-weight: bold;
}
.span-2 {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}
.span-3 {
  color: white;
  font-weight: bold;
}

/* Class for app.js */

.active {
  min-width: 100vw;
  min-height: 100vh;
  flex-direction: column;
  width: auto;
}
.active-header {
  background: var(--spacecadet);
  color: white;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 3;
  min-height: 100vh;
}
.active-a {
  color: var(--isabelline);
  font-size: 1.8rem;
  display: block;
}
.active-h1 {
  display: block;
}

/* Media Queries */

@media screen and (max-width: 480px) {
  body {
    overflow-x: hidden;
  }
  .main-header {
    transform: translateX(-100%);
    transition: all 1s linear;
  }
  .nav {
    transform: translateX(-100%);
    transition: all 1s linear;
  }
  .nav-link {
    transition: transform 0.5s ease-in;
  }
  #main-doc {
    margin: 1%;
  }
  .wrapper {
    margin: 0;
  }
  .burger div {
    width: 2.5rem;
    height: 0.5rem;
    margin: 0.5rem;
    background: var(--spacecadet);
    border-radius: 0.3rem;
  }
  .burger {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;
    cursor: pointer;
  }
  .main-header-active {
    transform: translateX(0%);
    min-width: 100vw;
  }
  .nav-active {
    transform: translateX(0%);
  }
  .toggle .line1 {
    transform: rotate(-45deg) translate(-1.9rem, 0.45rem);
    background: white;
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-1rem, 0.5rem);
    background: white;
  }
}
